$bodytext: #333;
$textOnDark: #fff;
$accent: #4fd1f9;

$darkBackground: rgba(0, 0, 0, .80);
$pageBackground: #f6f5f1;
$insetBackground: #fbfffa;

$sans: "source_sans", sans-serif;
$serif: "crimson", serif;

// - - - - - - - - - - - - - - - - - - - - - Home Page - - - - - - - - - - - - - - - - - - - - -
//body {background: transparent url("../img/baseline32.png") repeat ;}
header.home{
	color: $textOnDark;
	text-align: center;
	position: relative;
	top:8em;
	width:40%;
	margin:0 auto;
	background-color: $darkBackground;

	padding: 1.523809524em 3.904761905em;

	img{
		display: block;
		height: 2em;
		width: 2em;
		margin: 0 auto;
	}

	a { border:none; }
	
	p {
		font-family: $sans; 
		font-weight: 100;
		font-size: .80952381em;

	}
}

ul.post-list {
	

	header{

		.black{
			padding: 1em 1em 0.5em;
    	background-color: $darkBackground;
    	color: $textOnDark;
    	font-family: $sans;
    	font-weight: 100;

    	h2{
    		margin:0;
    	}
    	
    	p {
    		font-size: .714285714em;
    		display: inline;
    		margin-right: 1em;
    	}
    	
    	time {
    		display: inline;
    		top:0; 
    	}
    	.tags{
    		display: inline;
    	}
		}
	}

	li.article-list{
		margin-bottom: 3em;
		background-color: $insetBackground;
	}

	position: relative;
	
	max-width:42.666666667em; 
	margin:16em auto 6em;
	padding:0; 
	text-align: center;
	list-style:none;
	



}

.excerpt{
	text-align:left;
	padding: 1.5em 3em; 
}