
article.post {
	.share {

		a { position: relative; text-indent: -9999px; border: none; transition: none; padding: 0 .85em;



			&.facebook {
				background: transparent url(../img/facebook.png) no-repeat center top; background-size:12px 44px;
				width:12px; height:22px;
				top:-.3em;
				padding: 0 .6em 0 1em;
				&:hover { background-position: center bottom; transition: none; }
			}
			&.twitter {
				background: transparent url(../img/twitter.png) no-repeat center top; background-size:21px 32px;
				width:21px; height:16px;
				top:-.10em;
				&:hover { background-position: center bottom; transition: none; }
			}
			&.linkedin {
				background: transparent url(../img/linkedin.png) no-repeat center top; background-size:20px 36px;
				width:20px; height:18px;
				top:-.3em;
				&:hover { background-position: center bottom; transition: none; }
			}
			&.googleplus {
				background: transparent url(../img/googleplus.png) no-repeat center top; background-size:24px 46px;
				width:24px; height:23px;
				top:-.2em;
				&:hover { background-position: center bottom; transition: none; }
			}
		}
	}
}
